<!DOCTYPE html>
<html>

	<head>
	<link rel="stylesheet" type="text/css" href="/profile/main-page.css">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:100">
	</head>

	<body>
	<div id="background-wrapper">
<!--all your content-->

 

  <div id="main_display">
  	
	<div id="sub_links">
		<a href="#">PROFILE  /</a>    
		<a href="#">TROPHIES  /</a>   
		<a href="#">HEROES</a>
	</div>
	<div id="profile_display"></div>
	<div id="profile_stats">
		<div id="left_side">
			<div id="fav_hero_display">
				<img src="/assets/fav_hero_display.png">
			</div>
			<div id="user_info">
				<div id="chart"></div>
				<div id="user_stats">
					<ul id="stats_list">
					<li>Avg GPM</li>
					<li>Avg XPM</li>
					<li>Avg Last Hits</li>
					<li>Avg Kills</li>
					<li>Avg Deaths</li>
					<hr>
					<li>Fav Hero</li>
					<li>Fav Carry</li>
					<li>Fav Supp</li>
					</ul>
				</div>
			</div>
		</div>
		<div id="right_side">
				
			<div id="sub_sub_links">
				<a href="#">RECENT GAMES /  </a>
				<a href="#">ACTIVITY FEED</a>
				
			</div>
			<div id="sub_sub_links_display">
				<div id="table-wrapper">
  				<div id="table-scroll">
				<table style="width:100%">
				  <tr>
				    <th>DATE/TIME</th>
				    <th>HERO PLAYED</th> 
				    <th>RESULT</th>
				    <th>DURATION</th>
				    <th>TYPE</th>
				  </tr>
				  <tr>
				    <td>9/20/2015 6:58 PM</td>
				    <td><img src="/assets/hero_pics/abaddon.png">Abaddon</td> 
				    <td>WIN</td>
				    <td>46:01</td>
				    <td>RANKED</td>
				  </tr>
				</table>
			</div>
		</div>
			</div>


		</div>

	</div>


  </div>

</div>

	</body>

</html>