<br>
<br>

<p>Dota Empower is a place to look at your stats and gain information</p>

<h3> Top 5 Heroes </p>
<p> Look at avg XPM , GPM , KDA , best allies, and worst enemies. </p>

<h3>Group</h3>
<p>Compare stats with your most played friends </p>

<h3>Activity map</h3>
<p>See when you win the most and also lose the most.</p>


<h1>But wait theres more!</h1>

<h3>Twitch</h3>
<p>Link your twitch vods to show off your recent games</p>

<h3>Youtube</h3>
<p>Exported videos to youtube can be edited and highlighted</p>

<h3> </h3>
