.notes_type_image{
	width: 28px;
	height: 28px;
}
.chart div {
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
#d3_minimap_chart{
	height: 350px;
	width: 80%;
  background-color: rgba(18,41,66,0.6);
	/*border: 2px solid red;*/
	overflow: scroll;  
  margin-left: 10%;
}

.d3_bg{
  opacity: 0.4;
}

.grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}
.grid path {
      stroke-width: 0;
}
