
<div id="background-wrapper">

  <!-- <canvas id="myCanvas" width="1280" height="720"></canvas> -->
	<div id="rad_heros">
  <img class="background rad animated slideInLeft" id="player1" src="assets/background/axe.png">
  <img class="background rad animated slideInLeft" id="player2" src="assets/background/lina.png">
  <img class="background rad animated slideInLeft" id="player3" src="assets/background/am.png">
  <img class="background rad animated slideInLeft" id="player4" src="assets/background/dazzle.png">
  <img class="background rad animated slideInLeft" id="player5" src="assets/background/silencer.png">
	</div>
	<div id="dire_heros">
  <img class="background dire animated slideInRight" id="player6" src="assets/background/pa.png">
  <img class="background dire animated slideInRight" id="player7" src="assets/background/pl.png">
  <img class="background dire animated slideInRight" id="player8" src="assets/background/shaman.png">
  <img class="background dire animated slideInRight" id="player9" src="assets/background/kotl.png">
  <img class="background dire animated slideInRight" id="player10" src="assets/background/wr.png">
	</div>

</div>

