<div id="carousel_container">
  <div id="carousel">
    <div class="ui red card">
        <div class="extra content">
          <span class="right floated">
            Win
          </span>
          <span>
            Sep 19
          </span>
        </div>
        <div class="image">
          <img src="/assets/hero_pics/alchemist.png">
        </div>
        <img class="ui fluid image" src="/assets/background/items_bg.png">

        <div class="ui mini statistics">
          <div class="green statistic">
            <div class="value">
              21
            </div>
            <div class="label">
              Kills
            </div>
          </div>
          <div class="red statistic">
            <div class="value">
              5
            </div>
            <div class="label">
              Deaths
            </div>
          </div>
          <div class="yellow statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Assits
            </div>
          </div>
        </div>
    </div>

    <div class="ui red card">
        <div class="extra content">
          <span class="right floated">
            Win
          </span>
          <span>
            Sep 19
          </span>
        </div>
        <div class="image">
          <img src="/assets/hero_pics/alchemist.png">
        </div>
        <img class="ui fluid image" src="/assets/background/items_bg.png">

        <div class="ui mini statistics">
          <div class="green statistic">
            <div class="value">
              20
            </div>
            <div class="label">
              Kills
            </div>
          </div>
          <div class="red statistic">
            <div class="value">
              5
            </div>
            <div class="label">
              Deaths
            </div>
          </div>
          <div class="yellow statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Assits
            </div>
          </div>
        </div>
    </div>

    <div class="ui red card">
        <div class="extra content">
          <span class="right floated">
            Win
          </span>
          <span>
            Sep 19
          </span>
        </div>
        <div class="image">
          <img src="/assets/hero_pics/alchemist.png">
        </div>
        <img class="ui fluid image" src="/assets/background/items_bg.png">

        <div class="ui mini statistics">
          <div class="green statistic">
            <div class="value">
              19
            </div>
            <div class="label">
              Kills
            </div>
          </div>
          <div class="red statistic">
            <div class="value">
              5
            </div>
            <div class="label">
              Deaths
            </div>
          </div>
          <div class="yellow statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Assits
            </div>
          </div>
        </div>
    </div>

    <div class="ui red card">
        <div class="extra content">
          <span class="right floated">
            Win
          </span>
          <span>
            Sep 19
          </span>
        </div>
        <div class="image">
          <img src="/assets/hero_pics/alchemist.png">
        </div>
        <img class="ui fluid image" src="/assets/background/items_bg.png">

        <div class="ui mini statistics">
          <div class="green statistic">
            <div class="value">
              18
            </div>
            <div class="label">
              Kills
            </div>
          </div>
          <div class="red statistic">
            <div class="value">
              5
            </div>
            <div class="label">
              Deaths
            </div>
          </div>
          <div class="yellow statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Assits
            </div>
          </div>
        </div>
    </div>

    <div class="ui red card">
        <div class="extra content">
          <span class="right floated">
            Win
          </span>
          <span>
            Sep 19
          </span>
        </div>
        <div class="image">
          <img src="/assets/hero_pics/alchemist.png">
        </div>
        <img class="ui fluid image" src="/assets/background/items_bg.png">

        <div class="ui mini statistics">
          <div class="green statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Kills
            </div>
          </div>
          <div class="red statistic">
            <div class="value">
              5
            </div>
            <div class="label">
              Deaths
            </div>
          </div>
          <div class="yellow statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Assits
            </div>
          </div>
        </div>
    </div>


        <div class="ui red card">
        <div class="extra content">
          <span class="right floated">
            Win
          </span>
          <span>
            Sep 19
          </span>
        </div>
        <div class="image">
          <img src="/assets/hero_pics/alchemist.png">
        </div>
        <img class="ui fluid image" src="/assets/background/items_bg.png">

        <div class="ui mini statistics">
          <div class="green statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Kills
            </div>
          </div>
          <div class="red statistic">
            <div class="value">
              5
            </div>
            <div class="label">
              Deaths
            </div>
          </div>
          <div class="yellow statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Assits
            </div>
          </div>
        </div>
    </div>

        <div class="ui red card">
        <div class="extra content">
          <span class="right floated">
            Win
          </span>
          <span>
            Sep 19
          </span>
        </div>
        <div class="image">
          <img src="/assets/hero_pics/alchemist.png">
        </div>
        <img class="ui fluid image" src="/assets/background/items_bg.png">

        <div class="ui mini statistics">
          <div class="green statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Kills
            </div>
          </div>
          <div class="red statistic">
            <div class="value">
              5
            </div>
            <div class="label">
              Deaths
            </div>
          </div>
          <div class="yellow statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Assits
            </div>
          </div>
        </div>
    </div>

        <div class="ui red card">
        <div class="extra content">
          <span class="right floated">
            Win
          </span>
          <span>
            Sep 19
          </span>
        </div>
        <div class="image">
          <img src="/assets/hero_pics/alchemist.png">
        </div>
        <img class="ui fluid image" src="/assets/background/items_bg.png">

        <div class="ui mini statistics">
          <div class="green statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Kills
            </div>
          </div>
          <div class="red statistic">
            <div class="value">
              5
            </div>
            <div class="label">
              Deaths
            </div>
          </div>
          <div class="yellow statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Assits
            </div>
          </div>
        </div>
    </div>

        <div class="ui red card">
        <div class="extra content">
          <span class="right floated">
            Win
          </span>
          <span>
            Sep 19
          </span>
        </div>
        <div class="image">
          <img src="/assets/hero_pics/alchemist.png">
        </div>
        <img class="ui fluid image" src="/assets/background/items_bg.png">

        <div class="ui mini statistics">
          <div class="green statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Kills
            </div>
          </div>
          <div class="red statistic">
            <div class="value">
              5
            </div>
            <div class="label">
              Deaths
            </div>
          </div>
          <div class="yellow statistic">
            <div class="value">
              22
            </div>
            <div class="label">
              Assits
            </div>
          </div>
        </div>
    </div>

  </div>


  <form method="GET" action="/chin/:match_id">
    <input type="text" name="match_id">
    <input type="submit" value="Submit">
  </form>

  <script type="text/javascript">

    $('#carousel').slick({
      infinite: true,
      slidesToShow: 7,
        slidesToScroll: 3
  });

  </script>
</div>