#main_container{
	width: 100vw;
	height: 100vh;
	padding-left: 15%;
}

#match_overview{
	width: 70%;
	height: 15%;
	border: 2px solid blue;

}
#radiant_side{
	margin-top: 30px;
	width: 70%;
	height: 30%;
	border: 2px solid green;

}
#dire_side{
	margin-top: 30px;
	width: 70%;
	height: 30%;
	border: 2px solid red;

}
table{
	font-size: 10px;
}
th{
	/*border: 1px solid black;*/
}
tr{
	border: 5px solid black
}
img{
	width: 26px;
	height: 26px;
}